<h1>Stories#show</h1>
<h2><%= @story.title %></h2>
<h3><%= @story.description %></h3>
<%= link_to "Edit Story Info!", edit_story_path(@story) %>

<ul>
  <% @story.categories.each do |category| %>
    <li>
      <%= category.name %>
    </li>
  <% end %>
</ul>
